.display {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #d7e4f0;
}
.displayOutput {
    display: flex;
    justify-content: center;
}
.displayOutput input[type=text] {
    font-family: "digital-7";
    color: #232c33;
    font-size: 100px;
    max-width: 390px;
    border: none;
    background-color: transparent;
    text-align: right; 
}
/* remove outline on input focus */
textarea:focus,
input:focus {
  outline: none;
}
*:focus {
  outline: none;
}
