@font-face {
    font-family: "digital-7";
    src: local("digital-7"),
     url("./fonts/digital-7.ttf") format("truetype");
    }
html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    margin: 75px;
    background-color: #ffe39e;
}